---
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";

import { Writers } from "../data/writers";
import Card from "../components/Card.astro";
---

<Layout title="Tercer Encuentro Arquidiocesano de Laicos">
	<main>
		<section class="mb-5">
			<Card
				title="Material informativo para todo el taller"
				resume=""
				image="/folder.svg"
				link="https://linktr.ee/encuentrodelaicos"
				large={true}
			/>
		</section>
		<Timeline />
		<article>
			{
				Writers.map((writers) => (
					<div>
						<section class="w-full flex flex-row items-center justify-around gap-3 my-3">
							<img
								src={writers.image}
								alt={writers.title}
								width="100px"
								height="100px"
							/>
							<h2 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">
								{writers.title}
							</h2>
						</section>
						<section class="w-full flex md:flex-row flex-col flex-wrap gap-3">
							{writers.writable.map((items) => (
								<Card
									title={items.title}
									resume={items.resume}
									link={items.link}
								/>
							))}
						</section>
					</div>
				))
			}
		</article>
		<section class="my-5">
			<Card
				title="Descargar todo el material"
				resume=""
				image="/folder.svg"
				link="https://drive.google.com/drive/folders/14ckS-bfwULNlTQaYxAMnLVOj8WguF0IF"
				large={true}
			/>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
