---
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";

import { Writers } from "../data/writers";
import Card from "../components/Card.astro";
---

<Layout title="Tercer Encuentro Arquidioscesano de Laicos">
	<main>
		<section class="mb-5">
			<Card
				title="Material informativo para todo el taller"
				resume=""
				image="/folder.svg"
				link="https://linktr.ee/encuentrodelaicos"
				large={true}
			/>
		</section>
		<Timeline />
		<article>
			<h2 class="text-gray-900">Recursos de las ponencias</h2>
			<section class="w-full flex md:flex-row flex-col justify-around gap-3">
				{
					Writers.map((writers) => (
						<Card
							title={writers.title}
							image={writers.image}
							resume={writers.resume}
							link={writers.link}
						/>
					))
				}
			</section>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
